:root {
    --font-sans: 'Poppins', system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

html, body {
    font-family: var(--font-sans);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}


body {
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 12vh;
    background: rgb(255, 255, 255);
    color: rgb(0);
    text-shadow: 0.5px 1px 2px #0000007a;
    width: 100%;
    padding: 20px 30px;
    position: fixed;
    z-index:1000;
}

.container_fluid {
    width: 30%;
}

    .container_fluid ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

img {
    height: 10vh;
}

li {
    list-style: none;
    margin: 0 15px;
}
li .nav_link {
    text-decoration: none;
    color: rgb(0,0,0);
    font-weight: 300;
    font-size: 1.2rem;
    transition: 0.3s;
}

    li .nav_link:hover {
        color: #1771c0;
        font-weight: 500;
    }

