:root {
    --font-sans: 'Poppins', system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

html, body {
    font-family: var(--font-sans);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}


body {
    height: 100%;
    display: flex;
    flex-direction: row;
}

header{
    width: 20vw;
    height: fit-content;
    background-color: #0d52b9;
}

.border-bottom{
    padding: 5px;
}
.border-bottom .container-fluid .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 30px;
}

img {
    height: 12vh;
}

.navLinks{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size:18px;
    font-weight: 700;
    color: rgb(219, 219, 219);
    width: 10vw;
    height: 40%;

}

.nav-link:hover{
    color: #000000;
    font-weight: 900;
}

.utilities{
     display: flex;
    flex-direction: row-reverse;
    font-size:20px;
    font-weight: 700;
    color: rgb(219, 219, 219);
    margin-bottom: 60px;
    width: 100%;
}

.utilities a{
    margin-left: 50px;
}