@{
    ViewData["Title"] = "Portal";
    var role = Context.Session.GetString("Role");
    var username = Context.Session.GetString("UserName");
}

<div class="container mt-4">
    <h2>Welcome, @username!</h2>

    @if (role == "Admin")
    {
       <h3>Dashboard here</h3>
    }
    else if (role == "Employee")
    {
        <h3>Dashboard here</h3>
    }
    else
    {
        <div class="alert alert-danger mt-3">
            Role not recognized. Please log in again.
        </div>
    }
</div>
