@{
    ViewData["Title"] = "Portal";
    var role = Context.Session.GetString("Role");
    var fullName = Context.Session.GetString("FullName") ?? "Employee";
}

<div class="container mt-4">

    @if (role == "Admin")
    {
        <h2>Welcome, @fullName</h2>
       <h3>Dashboard here</h3>
    }
    else if (role == "Employee")
    {
        <h2>Welcome, @fullName</h2>
        <h3>Dashboard here</h3>
    }
    else
    {
        <div class="alert alert-danger mt-3">
            Role not recognized. Please log in again.
        </div>
    }
</div>
