<link rel="stylesheet" href="~/css/nav_employee.css" asp-append-version="true" />

<nav class="container-fluid">

    <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" asp-controller="Website" asp-action="Portal">
            <img src="~/lib/Image-white.png" alt="NZFTC-EMS" asp-append-version="true" />
        </a>

        <div class="navLinks">

            <a class="nav-link active" asp-controller="Website" asp-action="Portal">
                Dashboard
            </a>

            <a class="nav-link" asp-controller="Employee_Profile" asp-action="Profile">
                MyProfile
            </a>

            
            <a asp-controller="LeaveManagement"
       asp-action="ApplyLeave"
       class="nav-link">
        <span class="nav-text">Leave Application</span>
    </a>

      <a asp-controller="LeaveManagement"
       asp-action="LeaveHistory"
       class="nav-link">
        <span class="nav-text">Leave History</span>
    </a>

            
            <a class="nav-link" href="/employee_timesheets">
               MyTimesheets
            </a>

          <a class="nav-link"
   asp-controller="employee_payroll"
   asp-action="Payslips">
    MyPayslip
</a>


            
            <a class="nav-link" asp-controller="calendar" asp-action="UserCalendar">
                MyCalendar
            </a>

            <a class="nav-link" asp-controller="Support_Client" asp-action="Index">
                Support
            </a>

        </div>

        <div class="utilities">

            <a class="nav-link logout" asp-controller="Website" asp-action="Logout" title="Sign out">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
            </a>

            <a class="nav-link gear" asp-controller="Portal" asp-action="Settings" title="Settings">
                <i class="fa-solid fa-gear" aria-hidden="true"></i>
            </a>

        </div>
    </div>
</nav>

<script src="~/js/support_managment.js"></script>
