<nav class="container-fluid">
    <div class="container">
        <a class="navbar-brand" asp-controller="Website" asp-action="Portal">
            <img src="~/lib/Image-white.png" alt="NZFTC-EMS" asp-append-version="true" />
        </a>
        <div class="navLinks">
            <a class="nav-link active" asp-controller="Website" asp-action="Portal">Dashboard</a>
            <a class="nav-link" asp-controller="Employee_Profile" asp-action="Profile">MyProfile</a>
            <a class="nav-link" asp-controller="leave_management" asp-action="Dashboard">Leave Application</a>
            <a class="nav-link" asp-controller="payroll_management" asp-action="Payslip">MyPayslip</a>
            <a class="nav-link" asp-controller="employee_management" asp-action="Index">Employee Management</a>
            <a class="nav-link" asp-controller="paygrade_management" asp-action="Index">Pay Grades</a>
            <a class="nav-link" asp-controller="jobposition_management" asp-action="Index">Job Position Management</a>
            <a class="nav-link" asp-controller="leave_management" asp-action="Index">Leave Management</a>
            <a class="nav-link" asp-controller="payroll_management" asp-action="Index">Payroll Management</a>
            <a class="nav-link" asp-controller="calendar" asp-action="UserCalendar">MyCalendar</a>
            <a class="nav-link" href="/support_management">Support Tickets</a>
        </div>

        <div class="utilities">
            <a class="nav-link logout" asp-controller="Website" asp-action="Logout" title="Sign out">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
            </a>
            <a class="nav-link gear" asp-controller="Portal" asp-action="Settings" title="Settings">
                <i class="fa-solid fa-gear" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</nav>
